fastapi==0.126.0
uvicorn[standard]==0.38.0
SQLAlchemy==2.0.45
Jinja2==3.1.6
python-multipart==0.0.21
itsdangerous==2.2.0
psycopg[binary]
twilio==9.4.2
requests
google-auth
google-auth-oauthlib
google-api-python-client
pandas
pillow
pytesseract
